<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>User directory</title>
    <link rel='stylesheet' href='main.css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  </head>

  <body>
    <nav>
      <a href="http://0.0.0.0:3000/">All Users</a>
      <a href="http://0.0.0.0:3000/unemployed">Looking For Work</a>
      <a href="http://0.0.0.0:3000/employed">Employed</a>
    </nav>
    {{#robots}}
    <div class="users">
      <a href="http://0.0.0.0:3000/{{id}}">
        <img src="{{avatar}}" alt="avatar">
      </a>
      <a href="http://0.0.0.0:3000/{{id}}">
      <h1 class="h1">{{name}}</h1>
      </a>
      {{#job}}
      <a href="http://0.0.0.0:3000/{{id}}">
        <h2 class="h2">{{job}}, {{company}}</h2>
      </a>
      {{/job}}
      {{^job}}
      <a href="http://0.0.0.0:3000/{{id}}">
        <h3 class="h3">Available for hire</h3>
      </a>
      {{/job}}
    </div>
    {{/robots}}
    <script type='text/javascript' src='main.js'></script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>

</html>
